<!DOCTYPE html>

<head>
  <title>PB&amp;J</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <style>
    #canvas {
      border: 1px solid black;
      width: 410px;
      height: 410px;
    }
  </style>
</head>

<body>
  <h1>Welcome to the PB&amp;J!</h1>
  <h3>The <i>PID Ball Balancer &amp; Joystick</i></h3>

  <p>
    Just choose your mode and try it out.
  </p>

  <p>
    <input type="radio" id="radio-center" name="mode" value="center" checked="checked" />
    <label for="radio-center"> Center</label>
    <br />
    <input type="radio" id="radio-free" name="mode" value="free" />
    <label for="radio-free"> Choose your position</label>
    <br />
    <input type="radio" id="radio-joystick" name="mode" value="joystick" />
    <label for="radio-joystick"> Joystick 😎</label>
  </p>

  <canvas id="canvas" style="display: none;"></canvas>
  <p id="position-info" style="display: none;">Current position: <span id="position">(none)</span></p>

  <p id="sensitivity-wrapper" style="display: none;">
    <label for="sensitivity">Sensitivit&agrave; (5-60)</label>
    <input id="sensitivity" type="number" min="5" max="60" step="5" style="width: 100px;" />
  </p>

  <p>
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    Status: <span id="status">stopped</span>
  </p>

  <script>
    let pos = null;
    const canvas = document.getElementById('canvas')
    const canvasCtx = canvas.getContext('2d')

    canvas.width = 410
    canvas.height = 410

    function setStatus(status) {
      $('#status').text(status)
    }

    function clearCanvas() {
      canvasCtx.clearRect(0, 0, canvas.width, canvas.height)
    }

    function hideAll() {
      $('#canvas').hide()
      $('#position-info').hide()
      $('#sensitivity-wrapper').hide()
      $('#position').text('(none)')
      pos = null
      clearCanvas()
    }

    // Showing/hiding the canvas and other inputs

    $('#radio-center').click(() => {
      hideAll()
    })

    $('#radio-free').click(() => {
      hideAll()
      $('#canvas').show()
      $('#position-info').show()
    })

    $('#radio-joystick').click(() => {
      hideAll()
      $('#sensitivity-wrapper').show()
    })

    // Handling the current position

    $('#canvas').on('click', function (e) {
      clearCanvas()

      pos = { x: e.offsetX, y: e.offsetY }
      $('#position').text(`(${pos.x}, ${pos.y})`)

      const radius = 10
      canvasCtx.beginPath()
      canvasCtx.fillStyle = '#000'
      canvasCtx.arc(pos.x, pos.y, radius, 0, 2 * Math.PI)
      canvasCtx.fill()
    })

    // Handling buttons

    $('#start').click(() => {
      const mode = $('input[name="mode"]:checked').val()
      if (mode === 'center') {
        $.get('/pid-center')
        setStatus('running')
      } else if (mode === 'free' && pos !== null) {
        $.get(`/pid-position?posx=${pos.x}&posy=${pos.y}`)
        setStatus('running')
      } else if (mode === 'joystick') {
        const sensitivity = Number($('#sensitivity').val())
        $.get(`/pid-joystick?sensitivity=${sensitivity}`)
        setStatus('running')
      }
    })

    $('#stop').click(() => {
      $.get('/pid-stop')
      setStatus('stopped')
    })
  </script>
</body>