<!DOCTYPE html>

<head>
  <title>PID Ball Balancer</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
  <h1>Welcome to the PID Ball Balancer!</h1>

  <p>
    Just choose your mode and try it out.
  </p>

  <p>
    <input type="radio" id="center" name="mode" value="center" checked="checked" /><label for="center"> Center</label>
    <br />
    <input type="radio" id="free" name="mode" value="free" /><label for="free"> Choose your position</label>
  </p>

  <p>
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    Status: <span id="status">stopped</span>
  </p>

  <script>
    function setStatus(status) {
      $('#status').text(status)
    }

    $('#start').click(() => {
      const mode = $('input[name="mode"]:checked').val()
      if (mode === 'center') {
        $.get('/pid-center')
      } else {
        console.log('Not yet implemented')
      }
      setStatus('running')
    })

    $('#stop').click(() => {
      $.get('/pid-stop')
      setStatus('stopped')
    })
  </script>
</body>